.event-info-bar
  .row
    .col-md-8
      .event-info.event-info-dense
        %strong.event-title= event.name
        - if event.start_date? && event.end_date?
          %span.event-meta
            %i.fa.fa-fw.fa-calendar
            = event.date_range
    .col-md-4.text-right.text-right-responsive
      .event-info.event-info-dense
        %span{:class => "event-meta event-status-badge event-status-#{event.status}"}
          CFP
          = event.status
        - if event.open?
          %span.event-meta
            = t("proposal.new.closes")
            %strong= l(event.closes_at, format: :short)

.page-header.page-header-slim
  .row
    .col-md-12
      %h1= t "proposal.new.title"

.row
  .col-md-12
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#create-proposal"}= t("proposal.new.form")
        %li
          %a{"data-toggle" => "tab", :href => "#preview"}= t("proposal.new.preview")
      .tab-content
        #create-proposal.tab-pane.active
          .row
            .col-md-8
              %p= raw t("proposal.new.instruction", guideline: link_to(t("proposal.new.guidelines"), event_path(event.slug)))
              %p= t("proposal.new.gfm_html")

              = simple_form_for proposal, url: event_proposals_path(event) do |f|
                = render partial: 'form', locals: {f: f}
        #preview.tab-pane
          = render partial: 'preview', locals: { proposal: proposal }
